<div class="row justify-content-center">
    <form class="col-8" [formGroup]="grupo" (ngSubmit)="guardar()">
        <div class="form-group">
            <input type="text" class="form-control" name="titulo" [(ngModel)]="receta.titulo" formControlName="titulo">
            <span *ngIf="grupo.get('titulo').hasError('required') && grupo.get('titulo').touched">El titulo de la receta es requerido</span>
            <span *ngIf="grupo.get('titulo').hasError('isError') && grupo.get('titulo').touched">Debe ingresar solo letras</span>
            <span *ngIf="grupo.get('titulo').hasError('minlength') && grupo.get('titulo').touched">La longitud mínima es 5</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="receta.descripcion" formControlName="descripcion">
            <span *ngIf="grupo.get('descripcion').hasError('required') && grupo.get('descripcion').touched">El titulo de la receta es requerido</span>
            <span *ngIf="grupo.get('descripcion').hasError('isError') && grupo.get('descripcion').touched">Debe ingresar solo letras</span>
            <span *ngIf="grupo.get('descripcion').hasError('minlength') && grupo.get('descripcion').touched">La longitud mínima es 5</span>
        </div>
        <div>
            <button class="btn-success btn" [disabled]="!grupo.valid">Guardar</button>
        </div>
    </form>
</div>